@font-face {
    font-family: "Inter";
    src: local("Inter"),
    url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", san-sarif;
}

body {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}
.container, .bio {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.container {
    width: 375px;
    background: hsl(0, 0%, 12%);
    height: 600px;
    border-radius: 15px;
    gap: 15px;
    padding: 40px;
}

.bio {
    border: solid;
    gap: 10px;
}

.bio img {
    border-radius: 100%;
    width: 100px;
    margin: 0 0 15px 0;
}