@font-face {
    font-family: "Inter";
    src: local("Inter"),
    url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("truetype");
    font-weight: 300;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", san-sarif;
}

body {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}
.container, .bio {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.container {
    --minmax-width: clamp(320px, 60vw, 385px);
    width: var(--minmax-width);
    max-width:385px;
    background: hsl(0, 0%, 12%);
    border-radius: 15px;
    gap: 25px;
    padding: calc(0.1 * var(--minmax-width));
}

.bio {
    gap: 10px;
}

.bio img {
    border-radius: 100%;
    width: 100px;
    margin: 0 0 15px 0;
}

.bio h3 {
    color: hsl(75, 94%, 57%);
}

.bio p{
    margin-top: 15px;
}

.social-links {
    width: 100%;
    display: grid;
    gap: 15px;
}

.social-links .link {
    background: hsl(0, 0%, 20%);
    color: unset;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
}

.link:hover, .link:active {
    background: hsl(75, 94%, 57%);
    color: initial;
}

footer {
    position: fixed;
    bottom: 5px;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: hsl(0, 0%, 60%);
}

footer .attribution a {
    font-weight: 15px;
    color: hsl(0, 0%, 80%);
}