@font-face {
    font-family: "Figtree";
    src: 
    local("Figtree"),
    url("./assets/fonts/static/Figtree-Medium.ttf") format("truetype"),
    url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype"),
    url("./assets/fonts/static/Figtree-ExtraBold.ttf") format("truetype")
    url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}

 * {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html{
    display: flex;
    font-size: clamp(11px, 2vw, 16px);
    width: 100vw;
    height: 100vh;
    font-family: "Figtree", Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template: 1fr / 1fr;
    background: hsl(47, 88%, 63%);
    align-self: center;
    margin: 0 auto;
}

section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    gap: 20px;
    border: solid 1px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0.5rem 0.5rem  hsl(0, 0%, 7%);
    max-width: 387px;
}

.header {
  max-width: 100%;
  border-radius: 12px;
}

.user {
    display: flex;
    max-width: 100%;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    & img {
        max-width: 10%;
    }
}

.attribution {
  text-align: center;
}

