:root {
  --b-r1: clamp(3px, calc((10/11) *1rem), 18px);
  --b-r: calc (11/3rem);
}
@font-face {
    font-family: "Figtree";
    src: 
    local("Figtree"),
    url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype"),
    url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
}

 * {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

html{
    font-size: clamp(11px, 2vw, 18px);
    width: 100vw;
    height: 100vh;
}

body {
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    background: hsl(47, 88%, 63%);
}

section {
    border: solid;
    background: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: var(--b-r1)  var(--b-r1) var(--b-r1) black;
    max-width: 350px;
}

.header {
  max-width: 100%;
  border-radius: 3%;
}

.attribution {
  font
}

