* {
 font-family: "Outfit", Sans-Serif;
  box-sizing: border-box;
  margin: 0;
}
html, body, content {
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: hsl(212, 45%, 89%);
}

.container {
  height: unset;
  flex-flow: column nowrap;
  width: 320px;
  max-width: 1440px;
  background: white;
  padding: 15px;
  gap: 15px;
  border-radius: 18px;
  box-shadow: 0 23px 24px rgb(23, 15, 5, .06);
}

img {
  width: 100%;
  border-radius: 10px;
}

.headp {
  font-weight: 700;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

.para {
  padding: 0 15px;
  font-size: 15px;
  font-weight: normal;
  margin-top: 15px;
  color: hsl(216, 15%, 48%);
}

.attribution, p {
  font-size: 9px; 
  text-align: center; 
  color: hsl(216, 15%, 48%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
  font-size: 11px;
  transition: all linear .3s;
  &:hover {
    color: grey;
    font-size: 14px;
  }
}